<div class="bg_header">
	<div class="container">
		<div class="header">
			<div class="col-sm-6">
				<h1 class="title"><a href="{{ path_for('homepage') }}">ft_matcha</a></h1>
			</div>
			<div class="connex col-sm-6">
				{% if app.isLogged %}
					<p> Bienvenue <strong>{{ session.login.nickname }} </strong></p>
					<a href="{{ path_for('signout')}}">Se deconnecter</a>					
				{% else %}
					<form class="form-inline" method="POST" action="{{ path_for('signin') }}">
					  <div class="form-group">
					  		<label class="sr-only" for="exampleInputEmail3">Email address</label>
					    	<input type="mail" name="mail" class="form-control" id="exampleInputEmail3" placeholder="Email">
					  </div>
					  <div class="form-group">
					    <label class="sr-only" for="exampleInputPassword3">Password</label>
					    <input type="password" name="passwd" class="form-control" id="exampleInputPassword3" placeholder="Password">
					  </div>
					  {% if flash.getMessage('error').0 %}
					    <div class="alert alert-success">
					        {{ flash.getMessage('error').0 }}
					    </div>
					{% endif %}
					  <button type="submit" class="btn btn-default">OK</button>
					</form>
					<p class="forget">mot de passe oublié ?</p>
					<p class="forget"><a href="{{ path_for('register') }}">Inscription ?</a></p>
				{% endif %}
			</div>
		</div>
	</div>
</div>
