{% extends "template/base.twig" %}
{% block javascript %}
        <script type="text/javascript">

          $(document).ready(function (e)
         {
             var monthNames = [
                 "01", "02", "03",
                 "04", "05", "06", "07",
                 "08", "09", "10",
                 "11", "12"
             ];
             var d = new Date();
             d.setFullYear(d.getFullYear() - 18);
             var day = d.getDate();
             var monthIndex = d.getMonth();
             var year = d.getFullYear();
             var d = day + "/" + monthNames[monthIndex] + "/" + year;
             $('#date').val(d);
             $( "#date" ).datepicker({
                 altField: "#datepicker",
                 selectOtherMonths: true,
                 closeText: 'Fermer',
                 prevText: 'Précédent',
                 nextText: 'Suivant',
                 currentText: 'Aujourd\'hui',
                 monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                 monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
                 dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                 dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
                 dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                 weekHeader: 'Sem.',
                 defaultDate: d,
                 dateFormat: 'dd/mm/yy'
             });
         });
    </script>
{% endblock %}
{% block body %}
    
    <div class="container main-container">
        <div class="toAdopt">
            <h2 class="line"><span>Inscription</span></h2>
            <div class="row  form form-register">
                <form class="form-inline col-xs-12 col-sm-12" method="post" action="{{ path_for('postRegister') }}" >
                    <div class="form-group form-row col-sm-offset-2 col-sm-8">
                        <label class="col-xs-3 col-sm-3" for="nickname">Pseudo</label>
                        <input class="col-xs-9 col-sm-9" type="text" id="nickname" name="nickname" placeholder="Votre pseudo" value="{{ form.nickname }}">
                        {% if error.nickname %}
                            <div class="col-xs-12 alert alert-danger">
                                {% for errors in error.nickname %}
                                    {{ errors }} <br>
                                {% endfor %}
                            </div>
                        {% endif %}

                    </div>

                    <div class="form-group col-xs-12 col-sm-offset-2 col-sm-8">
                        <label class="col-xs-3 col-sm-3" for="mail">Mail</label>
                        <input class="col-xs-9 col-sm-9" type="mail" id="mail" name="mail" placeholder="Votre adresse email" value="{{ form.mail }}">

                    {% if error.mail %}
                        <div class="col-xs-12 alert alert-danger">
                            {% for errors in error.mail %}
                                {{ errors }} <br>
                            {% endfor %}
                        </div>
                     {% endif %}
                    </div>
                    <div class="form-group col-xs-12 col-sm-offset-2 col-sm-8">
                        <label class="col-xs-3 col-sm-3" for="name">Nom</label>
                         <input class="col-xs-9 col-sm-9" type="text" id="name" name="name" placeholder="Votre nom" value="{{ form.name }}">
                    {% if error.name %}
                        <div class="col-xs-12 alert alert-danger">
                            {% for errors in error.name %}
                                {{ errors }} <br>
                            {% endfor %}
                        </div>
                     {% endif %}
                        </div>

                        <div class="form-group col-xs-12 col-sm-offset-2 col-sm-8">
                        <label class="col-xs-3 col-sm-3" for="lastname">Prénom</label>
                            <input class="col-xs-9 col-sm-9" type="text" id="lastname" name="lastname" placeholder="Votre prénom" value="{{ form.lastname }}">
                    {% if error.lastname %}
                        <div class="col-xs-12 alert alert-danger">
                            {% for message in error.lastname %}
                                {{ message }} <br>
                            {% endfor %}
                        </div>
                     {% endif %}
                    </div>

                    <div class="form-group col-xs-12 col-sm-offset-2 col-sm-8">
                        <label class="col-xs-3 col-sm-3" for="date">Date de naissance</label>
                        <input class="col-xs-9 col-sm-9" type="text" id="date" name="date" placeholder="Votre date de naissance" value="">
                        {% if error.date %}
                            <div class="col-xs-12 alert alert-danger">
                                {% for message in error.date %}
                                    {{ message }} <br>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="form-group col-xs-12 col-sm-offset-2 col-sm-8">
                        <label class="col-xs-3 col-sm-3" for="passwd">Mot de passe</label>
                        <input class="col-xs-9 col-sm-9" type="password" id="passwd" name="passwd" placeholder="Votre mot de passe(+ de 6 caractere)">
                    {% if error.passwd %}
                        <div class="col-xs-12 alert alert-danger">
                            {% for message in error.passwd %}
                                {{ message }} <br>
                            {% endfor %}
                        </div>
                     {% endif %}
                    </div>

                    <button type="submit" class="col-xs-12 col-sm-offset-4 col-sm-4 btn btn-default">Envoyer</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}