{% extends "template/base.twig" %}

{% block body %}
    <h1></h1>
    
    <div class="container">
        <div class="toAdopt">
            <h2><span>Inscription</span></h2>
            <div class="row  form form-register">
                <form class="form-horizontal" method="post" action="{{ path_for('postRegister') }}" >
                    <div class="form-group">
                        <label class="col-sm-2" for="nickname">Pseudo</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="nickname" name="nickname" placeholder="Votre pseudo" value="{{ form.nickname }}">
                        </div>

                    </div>
                    {% if error.nickname %}
                        <div class="alert alert-danger">
                            {% for errors in error.nickname %}
                                {{ errors }} <br>
                            {% endfor %}
                        </div>
                     {% endif %}
                    <div class="form-group">
                        <label class="col-sm-2" for="mail">Mail</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="mail" id="mail" name="mail" placeholder="Votre adresse email" value="{{ form.mail }}">
                        </div>
                    </div>
                    {% if error.mail %}
                        <div class="alert alert-danger">
                            {% for errors in error.mail %}
                                {{ errors }} <br>
                            {% endfor %}
                        </div>
                     {% endif %}
                    <div class="form-group">
                        <label class="col-sm-2" for="name">Nom</label>
                        <div class="col-sm-10">
                         <input class="form-control" type="text" id="name" name="name" placeholder="Votre nom" value="{{ form.name }}">
                        </div>
                    </div>
                    {% if error.name %}
                        <div class="alert alert-danger">
                            {% for errors in error.name %}
                                {{ errors }} <br>
                            {% endfor %}
                        </div>
                     {% endif %}
                    <div class="form-group">
                        <label class="col-sm-2" for="lastname">Prénom</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" id="lastname" name="lastname" placeholder="Votre prénom" value="{{ form.lastname }}">
                        </div>
                    </div>
                    {% if error.lastname %}
                        <div class="alert alert-danger">
                            {% for message in error.lastname %}
                                {{ message }} <br>
                            {% endfor %}
                        </div>
                     {% endif %}
                    <div class="form-group">
                        <label class="col-sm-2" for="passwd">Mot de passe</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="password" id="passwd" name="passwd" placeholder="Votre mot de passe(+ de 6 caractere)">
                        </div>
                    </div>
                    {% if error.passwd %}
                        <div class="alert alert-danger">
                            {% for message in error.passwd %}
                                {{ message }} <br>
                            {% endfor %}
                        </div>
                     {% endif %}
                     <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}