{% extends "template/base.twig" %}

{% block javascript %}
    <script src="{{ baseURl }}/js/search.js" type="application/javascript"></script>


{% endblock %}


{% block body %}

    <div class="container main-container">
        <div class="suggest col-sm-12">
            <h2 class="line">
                <span>{% if routeName is defined and routeName == "search" %}Recherche{% else %}Suggestions{% endif %}</span>
            </h2>
            {% if routeName is defined and routeName == "search" %}
                <div class="search col-sm-offset-1 col-sm-10 col-xs-12">
                    <form action="{{ path_for('search') }}" method="POST">
                        <label for="terms" class="col-sm-3 col-xs-12">Pseudonyme</label>
                        <input type="text" id="terms" class="col-sm-5 col-xs-12" name="terms" value="{{ data }}">
                        <input class="btn btn-default col-xs-12" type="submit"></input>
                    </form>
                </div>
            {% endif %}
            <div class="tri">

                <div class="form-row col-sm-offset-1 col-sm-10 col-xs-12">
                    <label for="filterLoca" class="col-sm-3 col-xs-12">Localisation</label>
                    <input class="filter col-sm-5 col-xs-12" type="text" id="filterLoca">
                </div>
                <div class="form-row  col-sm-offset-1 col-sm-10 col-xs-12">
                    <label for="filterTags" class="col-sm-3 col-xs-12">Centre d'interet</label>
                    <input type="text" class="filter col-sm-5 col-xs-12" id="filterTags">
                </div>
                {% if routeName is defined and routeName == "search" %}
                    <div class="form-row col-sm-offset-1 col-sm-10 col-xs-12">
                        <label class="criteria-label col-sm-3 col-xs-12" for="">Sexe</label>
                        <div class="gender">
                            <span class="check">
                            <input class="filter" type="checkbox" id="m" name="gender" value="m" checked> <label
                                        for="m">Homme</label>
                            </span>
                            <span class="check">
                            <input class="filter" type="checkbox" id="f" name="gender" value="f" checked> <label
                                        for="f">Femme</label>
                            </span>
                        </div>
                    </div>
                    <div class="form-row col-sm-offset-1 col-sm-10 col-xs-12">
                        <label class="criteria-label col-sm-3 col-xs-12" for="">Orientation</label>
                        <div class="orien">
                            <span class="check">
                                <input type="checkbox" class="filter" id="homo" name="orien" value="homo" checked><label
                                        for="homo">Homosexuel</label>
                            </span>
                            <span class="check">
                                <input type="checkbox" class="filter" id="bi" name="orien" value="bi" checked><label
                                        for="bi">Bisexuel</label>
                            </span>
                            <span class="check">
                                <input type="checkbox" class="filter" id="hetero" name="orien" value="hetero"
                                       checked><label for="hetero">Heterosexuel</label>
                            </span>
                        </div>
                    </div>
                {% endif %}
                <div class="form-row col-sm-offset-1 col-sm-10 col-xs-12 margin-range">
                    <div class="age">
                        <p class="labele col-sm-3 col-xs-12"><label for=" ">Age</label></p>
                        <div class="col-sm-4 col-xs-12" id="age-range"></div>
                    </div>
                </div>
                <div class="form-row col-sm-offset-1 col-sm-10 col-xs-12">
                    <div class="age">
                        <p class="labele col-sm-3"><label for="">Popularite</label></p>
                        <div class="col-sm-4 col-xs-12" id="pop-range"></div>
                    </div>
                </div>
            </div>
            <div class="listusers col-sm-12">
                <div class="tri-select">
                    <div class="tri-default floatr form-inline">
                        <label for="tri">Trier par</label>
                        <select class="filter form-control" name="tri" id="tri">
                            <option value="default">Defaut</option>
                            <option value="age">Age</option>
                            <option value="localisation">Localisation</option>
                            <option value="popularite">Popularite</option>
                            <option value="tags">Tags</option>
                        </select>
                    </div>
                    <div class="tri-crois floatr form-inline">
                        <label for="croi">Croissant</label>
                        <select class="filter form-control" name="croi" id="croi">
                            <option value="croi">Croissant</option>
                            <option value="de">Decroissant</option>
                        </select>
                    </div>
                </div>
                {% for sug in suggest %}
                    <div class="col-sm-3 col-xs-6 nopadding encart-users clearfix" data-index="{{ loop.index }}"
                         data-orien="{{ sug.orientation }}"
                         data-sex="{{ sug.gender }}" data-tag-list="{{ sug.interestString }}" data-age="{{ sug.age }}"
                         data-city="{{ sug.city }}" data-localisation="{{ sug.distance }}"
                         data-popularity="{{ sug.popularity }}" data-tags="{{ sug.commonInterest }}">
                        <a href="{{ path_for('viewProfil', { 'id' : sug.id }) }}">
                            <span class="infos">
                                <span class="infos-content">
                                    <span class="name">{{ sug.nickname }}</span>
                                    <span> {{ sug.age }} ans</span>
                                    <span>{{ sug.city }}</span>
                                    <span>{{ sug.commonInterest }} passions communes</span>
                                </span>
                            </span>
                            <img
                                    src="/img/{% if sug.url is null %}default.jpg{% else %}{{ sug.url }}{% endif %}"
                                    alt="">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}