{% extends "template/base.twig" %}

{% block javascript %}
    <script type="text/javascript"
            src="http://maps.google.com/maps/api/js?key=AIzaSyCIO-L9UwM1CtEbOao5Hdw_ueidLFQyzE0"></script>

    <script type="text/javascript">

        $(document).ready(function (e)
        {
            var id = $('#idView').text();

            $('#blocked').on('click', function (e)
            {
                e.preventDefault();
                $.getJSON('/blockedUsers', {id: id}, function (data)
                {
                    if (data.resp == false)
                    {
                        $('#blocked').html('Bloqué <span class="glyphicon glyphicon-remove"></span>')
                    }
                    else
                    {
                        $('#blocked').html('Débloqué <span class="glyphicon glyphicon-ok"></span>')
                    }
                });
            });


            // TODO ENLEVER SA CEST MOCHE

            $.getJSON('/getLike', {id: id}, function (data)
            {
                console.log(data.error);
                if (data.error == 0)
                {
                    $('#like').html('Like <span class="glyphicon glyphicon-thumbs-up"></span>');
                }
                else if (data.error == 2)
                {
                    $('#like').html('Unlike <span class="glyphicon glyphicon-thumbs-down"></span>');
                }

            });

            $('#like').on('click', function ()
            {
                if ($(this).data('pic').length != 0)
                {
                    $.post('/like', {id: id}, function (data)
                    {


                        if (data.error == 0)
                        {
                            $('#like').html('Unlike <span class="glyphicon glyphicon-thumbs-down"></span>');
                        }
                        else if (data.error == 2)
                        {
                            $('#like').html('Like <span class="glyphicon glyphicon-thumbs-up"></span>');
                        }
                        else if (data.error == -1)
                        {
                            $('#like').append('<span class="alert alert-danger">Vous n\'avez pas de photo de profil</span>');
                        }
                    }, 'json');
                }
            })
            var latlng = new google.maps.LatLng({{ location.latitude }}, {{ location.longitude }});
            var image = '../../img/pin.png';


            var options = {

                center: latlng,
                disableDefaultUI: true,
                zoom: 12,
                draggable: false,
                scrollwhell: true,
                disableDoubleClickZoom: true,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                styles: [{
                    "featureType": "administrative.country",
                    "elementType": "geometry.stroke",
                    "stylers": [{"lightness": -5}, {"color": "#b0b0b0"}, {"weight": 1.7}]
                }, {
                    "featureType": "administrative.province",
                    "elementType": "all",
                    "stylers": [{"visibility": "off"}]
                }, {
                    "featureType": "landscape",
                    "elementType": "geometry",
                    "stylers": [{"color": "#FFB3B3"}, {"lightness": 26}]
                }, {
                    "featureType": "poi",
                    "elementType": "geometry",
                    "stylers": [{"color": "#FFB3B3"}]
                }, {
                    "featureType": "road.highway",
                    "elementType": "all",
                    "stylers": [{"color": "#FFB3B3"}]
                }, {
                    "featureType": "road.arterial",
                    "elementType": "all",
                    "stylers": [{"visibility": "off"}]
                }, {
                    "featureType": "road.local",
                    "elementType": "all",
                    "stylers": [{"visibility": "off"}]
                }, {
                    "featureType": "transit",
                    "elementType": "all",
                    "stylers": [{"visibility": "off"}]
                }, {
                    "featureType": "water",
                    "elementType": "geometry",
                    "stylers": [{"color": "#FFB3B3"}, {"lightness": 66}]
                }]


            };


            //constructeur de la carte qui prend en paramêtre le conteneur HTML

            //dans lequel la carte doit s'afficher et les options

            var carte = new google.maps.Map(document.getElementById("map"), options);
            var marqueur = new google.maps.Marker({

                position: new google.maps.LatLng({{ location.latitude }}, {{ location.longitude }}),
                icon: image,

                map: carte

            });
        });


    </script>
{% endblock %}

{% block body %}
    <div class="profil-background">
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-2 ">
                    <div class="profile-encart">
                        <div class="profile">
                            <img src="/img/{{ imgProfil.url }}" alt="">
                        </div>
                        <p class="pop pink">{{ users.popularity }} PTS <span
                                    class="glyphicon glyphicon-menu-right"></span></p>
                    </div>
                </div>
                <div class="col-sm-8 encart tablem">
                    <div class="tablecell">

                        <h2>{{ users.nickname }}<span class="icone {% if users.gender == "m" %}icon-men{% else %}icon-woman{% endif %}"></span></h2>
                        {{ connected }}
                        {% if connected == 1 %}
                            <span class="connected">Connecté</span>
                        {% elseif connected == 0 %}
                            <div class="never">Jamais connecté</div>
                        {% else %}
                            <div class="disconnected">Derniere connexion le {{ connected }}</div>
                        {% endif %}
                        {% if sameProfil == false %}
                            <button id="like" data-pic="{{ app.noProfilPic }}">Bloqué <span
                                    class="glyphicon glyphicon-remove"></span>
                            {% if isBlock == true %}
                                <button id="blocked">Débloqué <span class="glyphicon glyphicon-ok"></span></button>
                            {% else %}
                                <button id="blocked">Bloqué <span class="glyphicon glyphicon-remove"></span></button>
                            {% endif %}

                            {% if app.noProfilPic is null %}
                                <span class="alert alert-danger">Vous ne pouvez pas like sans photo de profil</span>
                            {% endif %}
                            {% endif %}

                    </div>
                    <div class="age-city tablem">
                        <div class="age pink floatl">
                            <span class="glyphicon glyphicon-calendar"></span>
                            <span class="age">{{ users.age }} ans</span>
                        </div>
                        <div class="city pink floatr">
                            <span class="pink glyphicon glyphicon-map-marker"></span>
                            <span class="city">{{ location.city }}</span>
                        </div>
                        <div class="orientat pink floatl">
                            <span class="pink icone icon-look"></span>
                            <span class="orientation">{{ users.orientation }}</span>
                        </div>
                    </div>
                </div>
                <div class="interet white dtable">
                    <p>
                        {% for interest in interet %}
                            #{{ interest.interest }}
                        {% endfor %}
                    </p>
                </div>
                <span id="idView" class="hidden">{{ users.id }}</span>
            </div>
        </div>
    </div>
    <div class="container bgwhite nopadding">
        <div class="main-user">
            <div class="encart-map floatl">
                <div id="map" class="map">

                </div>
            </div>
            <div class="fullDetails">
                <div class="details-encart">
                    <h2 class="detail line"><span>Details</span></h2>
                    <div class="border">
                        <div class="col-sm-4">
                            <div class="det">
                                <div class="det">
                                    <h3>Orientation</h3>
                                    <p>Marron</p>
                                </div>
                                <h3>Yeux</h3>
                                <p>Marron</p>
                            </div>
                            <div class="det">
                                <h3>Style</h3>
                                <p>Marron</p>
                            </div>
                        </div>
                        <div class="col-sm-4 br">
                            <div class="det">
                                <div class="det">
                                    <h3>Orientation</h3>
                                    <p>Marron</p>
                                </div>
                                <h3>Yeux</h3>
                                <p>Marron</p>
                            </div>
                            <div class="det">
                                <h3>Style</h3>
                                <p>Marron</p>
                            </div>

                        </div>
                        <div class="col-sm-4 br">
                            <div class="det">
                                <div class="det">
                                    <h3>Profession</h3>
                                    <p>Marron</p>
                                </div>
                                <h3>Université</h3>
                                <p>Marron</p>
                            </div>
                            <div class="det">
                                <h3>Hobbies</h3>
                                <p>Marron</p>
                            </div>
                        </div>
                    </div>
                    <div class="description">
                        <h2 class="detail line"><span>Description</span></h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consequuntur cumque
                            cupiditate, dolorem ea eligendi enim eos eveniet, exercitationem ipsam neque omnis
                            perferendis
                            quaerat quidem quisquam similique totam ullam unde.</p>
                    </div>
                </div>

            </div>

        </div>

    </div>

{% endblock %}