{% extends "template/base.twig" %}
{% block javascript %}
    <script type="text/javascript"
            src="http://maps.google.com/maps/api/js?key=AIzaSyCIO-L9UwM1CtEbOao5Hdw_ueidLFQyzE0"></script>

    <script type="text/javascript">
        $(document).ready(function ()
        {
            function decSize(marker) {
                var oldIcon = marker.getIcon();
                var size_x = oldIcon.scaledSize.width;
                var size_y = oldIcon.scaledSize.height;
                var newIcon = {url: oldIcon.url, scaledSize: new google.maps.Size(size_x-1,size_y-1)};
                marker.setIcon(newIcon);
            }

            var latlng = new google.maps.LatLng(48.892, 2.31929 );
            var options = {
                center: latlng,
                zoom: 12,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                styles: [{
                    "featureType": "administrative.country",
                    "elementType": "geometry.stroke",
                    "stylers": [{"lightness": -5}, {"color": "#b0b0b0"}, {"weight": 1.7}]
                }, {
                    "featureType": "administrative.province",
                    "elementType": "all",
                    "stylers": [{"visibility": "off"}]
                }, {
                    "featureType": "landscape",
                    "elementType": "geometry",
                    "stylers": [{"color": "#FFB3B3"}, {"lightness": 26}]
                }, {
                    "featureType": "poi",
                    "elementType": "geometry",
                    "stylers": [{"color": "#FFB3B3"}]
                }, {
                    "featureType": "road.highway",
                    "elementType": "all",
                    "stylers": [{"color": "#FFB3B3"}]
                }, {
                    "featureType": "road.arterial",
                    "elementType": "all",
                    "stylers": [{"visibility": "off"}]
                }, {
                    "featureType": "road.local",
                    "elementType": "all",
                    "stylers": [{"visibility": "off"}]
                }, {
                    "featureType": "transit",
                    "elementType": "all",
                    "stylers": [{"visibility": "off"}]
                }, {
                    "featureType": "water",
                    "elementType": "geometry",
                    "stylers": [{"color": "#FFB3B3"}, {"lightness": 66}]
                }]


            };

            var beachMarker = new Array();
            var infowindow = new Array();
            var map = new google.maps.Map(document.getElementById("map"), options);
            {%  for user in user %}
            var contentString = '<div id="content">'+'<div id="siteNotice">'+'</div>'+'<h1 id="firstHeading" class="firstHeading">{{ user.nickname }}</h1>'+'<div id="bodyContent">'+'<p><span class="orien">{{ user.city|trim|escape }} - {{ user.orientation|capitalize }}</span> - <span class="sexe">{{ user.gender|capitalize }}</span> - {{ user.age }} ans<br><a href="/users/view/{{ user.id }}">Voir sa fiche</a> '+
                    '</div>'+
                    '</div>';

            infowindow[{{ user.id }}] = new google.maps.InfoWindow({
                content: contentString
            });
            var myIcon = {
                url: "{{ '../../img/' ~ user.url }}", //url
                scaledSize: new google.maps.Size(50, 50) };


            beachMarker[{{ user.id }}] = new google.maps.Marker({
                position: {lat: {{ user.latitude }}, lng:  {{ user.longitude }}},
                map: map,
                icon: myIcon
            });

            beachMarker[{{ user.id }}].addListener('click', function() {
                infowindow[{{ user.id }}].open(map, beachMarker[{{ user.id }}]);
            });

            {% endfor %}

        });

    </script>
{% endblock %}
{% block body %}

    <div class="container main-container mapUser">
        <div class="col-xs-12" >
            <div id="map" class="map col-xs-12" style="height: 500px;">

            </div>
        </div>
    </div>

{% endblock %}